<?xml version="1.0"?>

<model>
  <name>chess_board</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Roman Simonov</name>
    <email>simonovroma5@gmail.com</email>
  </author>

  <description>
    An chess board for camera calibration
    8x6 checkerboard with 108mm squares
  </description>
</model>