<?xml version="1.0"?>

<model>
  <name>april_board</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Roman Simonov</name>
    <email>simonovroma5@gmail.com</email>
  </author>

  <description>
    An april board for camera calibration
    target_type: 'aprilgrid' #gridtype
    tagCols: 6               #number of apriltags
    tagRows: 6               #number of apriltags
    tagSize: 0.088           #size of apriltag, edge to edge [m]
    tagSpacing: 0.3          #ratio of space between tags to tagSize
    codeOffset: 0            #code offset for the first tag in the aprilboard
  </description>
</model>